 <form action="/cars" method="post">
  <label for="makeModel">Add a car make and model:</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">How much is the car worth:</label>
  <input id="price" name="price" type="number">
  <label for="miles">How many miles are on the car:</label>
  <input id="miles" name="miles" type="number">
  <button type="submit">Submit</button>
</form>